<style>
:root{
  --bg:#000;
  --panel:#0f0f0f;
  --card:#1c1c1c;
  --text:#eaeaea;
  --muted:#9a9a9a;
  --accent:#1db954;
}

*{box-sizing:border-box}

body{
  margin:0;
  font-family:system-ui,Segoe UI,Roboto;
  background:var(--bg);
  color:var(--text);
}

/* HEADER */
header{
  padding:14px;
  text-align:center;
  font-weight:600;
  letter-spacing:2px;
  border-bottom:1px solid #111;
}

/* LAYOUT */
.app{
  display:grid;
  grid-template-columns:260px 1fr 320px;
  height:calc(100vh - 52px);
}

/* SIDEBAR */
.sidebar{
  background:var(--panel);
  border-right:1px solid #111;
  overflow-y:auto;
}

.section{
  padding:10px 14px;
  font-size:.7rem;
  color:var(--muted);
  letter-spacing:1px;
}

.item{
  padding:10px 14px;
  cursor:pointer;
  font-size:.85rem;
  color:#ddd;
  transition:.2s;
}

.item:hover,
.item.active{
  background:#1a1a1a;
  color:#fff;
}

/* PLAYER */
.player{
  display:flex;
  flex-direction:column;
}

.stage{
  flex:1;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#000;
}

video{max-width:50%;max-height:50%}
audio{width:90%}

.info{
  padding:10px 14px;
  border-top:1px solid #111;
  font-size:.85rem;
}

/* MENSAJES */
.soul{
  background:#050505;
  border-left:1px solid #111;
  padding:18px;
  display:flex;
  flex-direction:column;
  gap:16px;
  overflow-y:auto;
}

.soul img{
  width:100%;
  max-width:220px;
  align-self:center;
}

.poem{
  font-size:.85rem;
  line-height:1.6;
  color:#cfcfcf;
  font-style:italic;
}

.poem span{color:var(--accent)}

/* RADIO */
.radio{
  margin-top:auto;
  padding-top:12px;
  border-top:1px solid #111;
}

.radio a{
  display:block;
  text-align:center;
  padding:10px;
  border-radius:999px;
  background:#111;
  color:#fff;
  text-decoration:none;
  font-size:.85rem;
}

.radio a:hover{
  background:var(--accent);
  color:#000;
}

/* MODO CINE */
.cinema .sidebar,
.cinema .soul{
  display:none;
}

.cinema .app{
  grid-template-columns:1fr;
}

/* MOBILE */
@media(max-width:1000px){
  .app{
    grid-template-columns:1fr;
    grid-template-rows:auto auto auto;
    height:auto;
  }

  .sidebar{
    display:block;
    border-right:none;
    border-bottom:1px solid #111;
  }

  .player{
    min-height:60vh;
  }

  .soul{
    display:block;
    border-left:none;
    border-top:1px solid #111;
  }
}
</style>
